<h2>Componente expositor</h2>

<p>El modo actual es: {{modoElegido}}</p>





<div *ngIf="modoElegido === 'Comprar'">
    <p>Carrito de la compra: {{librosComprados.length}} unidades</p>
</div>

<h2 *ngIf="!misLibros">Cargando de base de datos...</h2>

<app-libro *ngFor="let libroIterado of misLibros" [libro]="libroIterado" [modoElegido]="modoElegido"
    (notificacionCompra)="libroCompradoRecibido(libroIterado)"></app-libro>

<button mat-raised-button color="primary" (click)="modoElegido = 'Comprar' ">Activa Compra</button>
<button mat-raised-button color="primary" (click)="cambiaModo('Admin')">Activa Administración</button>