<h2>Formulario de creación de libros</h2>
<form [formGroup]="formularioCreacion">

    <mat-form-field appearance="fill">
        <mat-label>Titulo del libro</mat-label>
        <input matInput formControlName="titulo"  appConversionInput="sinEspacios">
        <mat-error *ngIf="formularioCreacion.get('titulo').hasError('required')">El campo es obligatorio</mat-error>
        <mat-error *ngIf="formularioCreacion.get('titulo').hasError('minlength')">El campo debe superar los 3 carácteres
        </mat-error>
        <mat-error *ngIf="formularioCreacion.get('titulo').hasError('maxlength')">El campo no debe superar los 20
            carácteres
        </mat-error>
    </mat-form-field>

    <div>
        <mat-label>Stock disponible:</mat-label>
        <mat-slider max="30" min="1" step="1" tickInterval="1" [thumbLabel]="true" formControlName="stock"></mat-slider>
        <mat-error *ngIf="formularioCreacion.get('stock').hasError('required') && formularioCreacion.get('stock').touched">El campo es obligatorio</mat-error>
        <mat-error *ngIf="formularioCreacion.get('stock').hasError('min')">Debe haber al menos un libro</mat-error>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Autor</mat-label>
        <input matInput formControlName="autor">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precio">
        <span matPrefix>€&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="formularioCreacion.get('precio').hasError('required')">El campo es obligatorio</mat-error>
        <mat-error *ngIf="formularioCreacion.get('precio').hasError('min')">El precio debe superar 1€
        </mat-error>
    </mat-form-field>

    <p *ngIf="mensajeExito">{{mensajeExito}}</p>
    <button mat-raised-button color="primary" (click)="crearLibro()" >Crear libro</button>
    <button mat-raised-button color="accent" (click)="formularioCreacion.reset()">Reiniciar</button>

</form>

<app-libro [libro]="libroCreado" [modoLectura]="true"></app-libro>