<mat-card>
    <mat-card-title appDecoraEtiquetas>{{libro.titulo | addPuntos:'pepe'}}</mat-card-title>
    <mat-card-subtitle>{{libro.autor | addPuntos}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="libro.precio">{{libro.precio | addPuntos}} €</mat-card-subtitle>
    <mat-card-subtitle *ngIf="libro.stock">{{libro.stock | addPuntos}} unidades</mat-card-subtitle>
    <mat-card-actions *ngIf="!modoLectura">


        <ng-container *ngIf="modoElegido === 'Comprar'; else modoAdministracion">
            <button mat-raised-button color="primary" (click)="comprar()">Comprar</button>
        </ng-container>

        <ng-template #modoAdministracion>
            <button mat-raised-button color="accent" (click)="add()">Añadir</button>
            <button mat-raised-button color="accent" (click)="restar()">Restar</button>
            <button mat-raised-button color="primary" (click)="editar()">Editar</button>
            <button mat-raised-button color="warn" (click)="borrar()">Borrar</button>

        </ng-template>



    </mat-card-actions>
</mat-card>