<div class="tablaMaterial">
    <!-- Encabezado de la tabla -->
    <div class="filaEncabezado">
        <div *ngFor="let titulo of columnas" class="elementoEncabezado pointer">
            <span>{{titulo}}</span>
        </div>
    </div>

    <!-- Contenido de la tabla -->
    <div class="contenidoTabla">
        <div *ngFor="let elemento of datos" class="filaContenido">
            <div *ngFor="let atributo of modelos" class="elementoContenido">
                {{elemento[atributo]}}
            </div>
        </div>
    </div>

</div>